.login-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: "MaisonNeue", sans-serif;
}

.login-box {
  width: 270px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
