.publish-page {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "MaisonNeue", sans-serif;
  background-color: #ebedee;
  padding-top: 30px;
  padding-bottom: 200px;
}

.publish-page form {
  width: 1070px;
  /* height: 1400px; */
}

.publish-page h1 {
  font-size: 24px;
  margin-bottom: 15px;
  margin-top: 50px;
}

.publish-page .titles {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 30px;
}

.publish-page .titles div {
  height: 50px;
  padding-top: 20px;
  border-bottom: 1px solid #ebedee;
}
.publish-page .input {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.publish-page .input input {
  height: 70px;
  outline: none;
  border-bottom: 1px solid #ebedee;
  border-top: none;
  border-left: none;
  border-right: none;
}

.publish-page .upload-container input {
  width: 1070px;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.upload-container {
  height: 280px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.upload-dotted-container {
  height: 70%;
  width: 90%;
  border: 1px dashed #42b1ba;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
}

.upload-container label {
  background-color: white;
  border: 2px solid #42b1ba;
  color: #42b1ba;
  border-radius: 10px;
  padding: 20px;
}

.upload-img {
  max-width: 200px;
  max-height: 200px;
}
.publish-page .info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-bottom: 10px;
}

.check-box-container {
  display: flex;
  align-items: center;
}

.button-container button {
  font-family: "MaisonNeue", sans-serif;
  font-size: 15px;
  background-color: #42b1ba;
  color: white;
  border: none;
  margin-top: 25px;
}

.price-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  margin-bottom: 10px;
}

.price-container .input input {
  height: 98px;
}

/* *****************************************/
/* MEDIA QUERY */
/* *****************************************/

/* 1024 px -  */
/* *****************************************/

@media (max-width: 1024px) {
  /* ############################################################################################## */
  /* GENERAL */
  /* ############################################################################################## */

  .publish-page form {
    width: 900px;
  }
  .publish-page h1 {
    margin-top: 15px;
  }
}

/* 896 px -  */
/* *****************************************/

@media (max-width: 896px) {
  /* ############################################################################################## */
  /* GENERAL */
  /* ############################################################################################## */

  .publish-page form {
    width: 630px;
  }
  .publish-page h1 {
    margin-top: 15px;
  }
}

/* 540 px -  */
/* *****************************************/

@media (max-width: 540px) {
  /* ############################################################################################## */
  /* GENERAL */
  /* ############################################################################################## */
  .publish-page form {
    max-width: 300px;
    font-size: 16px;
  }
  .publish-page .input input::placeholder {
    font-size: 10px;
  }
  .upload-dotted-container {
    width: 80%;
  }
  .publish-page h1 {
    margin-top: 0px;
  }
  .exchange {
    font-size: 10px;
    margin-left: 5px;
  }
}

@media (max-width: 280px) {
  /* ############################################################################################## */
  /* GENERAL */
  /* ############################################################################################## */
  .publish-page form {
    max-width: 250px;
  }
}
