/* GENERAL */
.fav-page {
  /* border: red solid 1px; */
  width: 1070px;
  margin: 0 auto;
  gap: 30px;
  padding-top: 30px;
  font-family: "MaisonNeue", sans-serif;
}

.fav-page h1 {
  font-size: 24px;
  margin-bottom: 15px;
  margin-top: 20px;
}

/* FAVOURITES */
.fav-container {
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 30px;
  /* border: 1px solid green; */
}

.no-fav-msg {
  font-style: italic;
  color: gray;
}

/* *****************************************/
/* MEDIA QUERY */
/* *****************************************/

/* 1024 px -  */
/* *****************************************/

@media (max-width: 1024px) {
  /* ############################################################################################## */
  /* GENERAL */
  /* ############################################################################################## */

  .fav-page {
    width: 900px;
    padding-left: 10px;
  }
}
/* 896 px -  */
/* *****************************************/

@media (max-width: 896px) {
  /* ############################################################################################## */
  /* GENERAL */
  /* ############################################################################################## */

  .fav-page {
    width: 700px;
    padding-left: 20px;
  }
}

/* 540 px -  */
/* *****************************************/

@media (max-width: 540px) {
  /* ############################################################################################## */
  /* GENERAL */
  /* ############################################################################################## */
  .fav-page {
    width: 300px;
  }
  .fav-page h1 {
    font-size: 24px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
}

@media (max-width: 280px) {
  /* ############################################################################################## */
  /* GENERAL */
  /* ############################################################################################## */
  .fav-page {
    max-width: 250px;
  }
  .fav-container {
    justify-content: center;
  }

  .fav-page h1 {
    text-align: center;
  }
}
