@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

.header {
  width: 100vw;
  height: 70px;
  display: flex;
  font-family: "MaisonNeue", sans-serif;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header img {
  width: 80px;
}

.head-input {
  width: 630px;
  height: 32px;
  background-color: #f5f6f7;
  border: none;
  border-radius: 5px;
  outline: none;
}

.price-input {
  width: 60px;
  height: 32px;
  background-color: #f5f6f7;
  border: none;
  border-radius: 5px;
  outline: none;
  margin-left: 20px;
  text-align: center;
}

input::placeholder {
  font-family: "MaisonNeue", sans-serif;
  font-size: 14px;
}

button {
  width: 115px;
  height: 30px;
  border-radius: 5px;
  font-family: "MaisonNeue", sans-serif;
  font-size: 12px;
}

.price-order-desactive {
  width: 40px;
  height: 30px;
  border-radius: 50px;
  font-family: "MaisonNeue", sans-serif;
  font-size: 12px;
  background-color: white;
  border: 1px solid #42b1ba;
  color: #42b1ba;
  margin-left: 20px;
}

.price-order-desactive:hover {
  background-color: #f5f6f7;
}

.price-order-active {
  width: 40px;
  height: 30px;
  border-radius: 50px;
  font-family: "MaisonNeue", sans-serif;
  font-size: 12px;
  background-color: #42b1ba;
  color: white;
  border: none;
  margin-left: 20px;
}

.euro {
  padding-left: 5px;
}

.blue {
  background-color: white;
  border: 1px solid #42b1ba;
  color: #42b1ba;
}

.blue:hover {
  background-color: #f5f6f7;
}
.vendre {
  background-color: #42b1ba;
  color: white;
  border: none;
}

.deconnect {
  background-color: #ba4242;
  color: white;
  border: none;
}
