@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

.header {
  width: 100vw;
  border-bottom: #c1baba 1px solid;
  margin: 0 auto;
  height: 80px;
  display: flex;
  font-family: "MaisonNeue", sans-serif;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.logo {
  width: 80px;
}

.head-input {
  width: 400px;
  height: 32px;
  background-color: #f5f6f7;
  border: none;
  border-radius: 5px;
  outline: none;
  margin-right: 20px;
  caret-color: #2a7883;
  color: #2a7883;
  padding-left: 10px;
  font-size: 14px;
}
.header-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

input::placeholder {
  font-family: "MaisonNeue", sans-serif;
  font-size: 14px;
}

button {
  width: 115px;
  height: 30px;
  border-radius: 5px;
  font-family: "MaisonNeue", sans-serif;
  font-size: 12px;
}

.blue {
  background-color: white;
  border: 1px solid #42b1ba;
  color: #42b1ba;
  width: 150px;
}

.blue:hover {
  background-color: #f5f6f7;
}
.vendre {
  background-color: #42b1ba;
  color: white;
  border: none;
}

.favouris-btn {
  border: none;
  background-color: white;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  font-size: 18px;
  color: #42b1ba;
  border: #42b1ba solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favouris-btn:hover {
  background-color: #fbfbfb;
  cursor: pointer;
  color: #ba4242;
}

.deconnect {
  background-color: #ba4242;
  color: white;
  border: none;
}

.deconnect:hover {
  color: #f5f6f7;
  cursor: pointer;
}

.header-avatar {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50px;
}

/* DROP DOWN FILTER */
.dd-btn {
  background-color: white;
  color: #42b1ba;
  border: 1px solid #42b1ba;
  margin-left: 15px;
}

.dd-btn:hover {
  background-color: #f5f6f7;
  cursor: pointer;
}

.dropdown-menu {
  width: 200px;
  background-color: white;
  border: 1px solid #42b1ba;
  position: absolute;
  z-index: 1;
  margin-top: 15px;
  margin-left: 15px;
  font-size: 15px;
  border-radius: 5px;
}

.dd-item {
  padding: 10px;
  border-radius: 5px;
}
.dd-item:hover {
  background-color: #fbfbfb;
  cursor: pointer;
}
.dd-item:first-child {
  border-bottom: 1px solid #ebedee;
}

.hide {
  display: none;
}
