.signup-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: "MaisonNeue", sans-serif;
}

.signup-box {
  width: 270px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 60px;
  gap: 15px;
}

.signup-box h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.signup-box .input-box {
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: 1px solid #b7b7b8;
  outline: none;
  width: 270px;
  height: 35px;
}

.input-box::placeholder {
  font-size: 16px;
  color: #b7b7b8;
}

.check-container .check {
  width: 30px;
  margin-top: 30px;
}

.signup-box p {
  font-size: 12px;
  color: #999999;
}

.signup-box button {
  font-size: 16px;
  background-color: #42b1ba;
  color: white;
  border: none;
  margin-top: 40px;
  width: 270px;
  height: 40px;
}

.signup-box .connect-here {
  font-size: 12px;
  color: #42b1ba;
}
.signup-box .connect-here:hover {
  cursor: pointer;
}

.upload-container-signup {
  /* border: 1px dotted #f04555; */
  width: 270px;
  height: 80px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.upload-img-signup {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50px;
  object-position: top;
}
